.footer {
  background-color: var(--color-primary);
}

.footer__container {
  display: grid;
  grid-template-columns: 25% 40% 28%;
  justify-content: space-around;
  padding: 1.5rem 0 1rem;
  margin-top: 5rem;
}

.footer__container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}

.footer__container-1 a img {
  width: 125px;
  height: 101px;
}

.footer__container-1 p {
  color: var(--color-white);
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin-top: 1.2rem;
}

.footer__container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__container-2 h3 {
  color: var(--color-white);
}

.socials__container {
  display: flex;
  gap: 20px;
}

.socials__container a {
  font-size: 30px;
  color: var(--color-white);
}

.rights__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.rights__container h2 {
  color: var(--color-white);
  font-weight: 300;
}

.rights__container p {
  color: var(--color-white);
  font-weight: 200;
  font-size: 16px;
}

.footer__container-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-white);
}

.footer__container-3 a {
  color: var(--color-white);
  font-weight: 250;
  margin-top: 0.3rem;
}

.footer__container-3 a:hover {
  font-weight: 500;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 830px) {
  .footer__container {
    display: flex;
    flex-direction: column;

    width: 95%;
    margin: 5rem auto0;
  }

  .footer__container-1 {
    margin-left: 0;
  }

  .footer__container-2 {
    margin-top: 3rem;
  }

  .rights__container {
    margin-top: 3rem;
  }

  .footer__container-3 {
    margin-top: 3rem;
  }
}
