.overview__container {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
  justify-content: space-around;
  align-items: center;
  width: var(--container-width-lg);
  margin: 4rem auto;
}

.overview__details h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.overview__image {
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(10deg, #60753d, #ffeda3);
}

.overview__image img {
  border-radius: 1rem;
  overflow: hidden;
  transform: rotate(5deg);
  transition: var(--transition);
}

.overview__image img:hover {
  transform: rotate(0deg);
}
