.overview__container {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
  justify-content: space-around;
  align-items: center;
  margin: 4rem auto;
}

.overview__details h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.overview__image {
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(10deg, #60753d, #ffeda3);
}

.overview__image img {
  border-radius: 1rem;
  overflow: hidden;
  transform: rotate(5deg);
  transition: var(--transition);
}

.overview__image img:hover {
  transform: rotate(0deg);
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */
@media screen and (max-width: 1024px) {
  .overview__container {
    grid-template-columns: 50% 45%;
    gap: 5%;
  }

  .overview__details h1 {
    font-size: 35px;
  }

  .overview__details p {
    font-size: 18px;
  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ======================== */
@media screen and (max-width: 600px) {
  .overview__container {
    display: flex;
    flex-direction: column;
  }

  .overview__details h1 {
    text-align: center;
  }

  .overview__image {
    margin-top: 3rem;
    width: 90%;
  }
}
