.hero__background-img {
  background-image: linear-gradient(
      to bottom,
      rgba(25, 55, 85, 0.5) 0%,
      rgba(42, 95, 135, 0.3) 100%
    ),
    url(../../photos/background/building-1.jpg);
  background-size: cover;
  height: 100vh;
}

/* ============NavBar Styles============= */
.nav__container {
  display: flex;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

.nav__navlinks {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.nav__navlink-main {
  font-size: 1.2rem;
  color: var(--color-white);
}

.nav__navlink-main:after {
  content: "";
  position: absolute;
  width: 2%;
  height: 1px;
  display: block;
  transition: var(--transition);
  bottom: 35%;
}

.nav__navlink-main:hover::after {
  width: 3%;
  height: 3px;
  background-color: #fff;
}

.company__img img {
  width: 155px;
  height: 121px;
  margin: 0;
}

.btn-main {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  width: 240px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.btn-main:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);

  transition: var(--transition);
}

.nav__navlinks {
  display: flex;
  justify-content: space-between;
}

/* =================Body Text Styles================== */
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__header {
  font-family: "Open Sans";
  width: 70%;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 100px auto 50px auto;

  color: var(--color-white);
}

.hero__text ul {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  width: 55%;
  justify-content: space-around;
}

.hero__text ul li {
  font-family: "Roboto";
  font-weight: 500;
  color: var(--color-white);
  font-size: 40px;
  list-style-type: disc;
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */
@media screen and (max-width: 1024px) {
  /* ///////////NavBar//////////////// */
  .nav__container {
    justify-content: space-between;
  }

  .company__img img {
    width: 115px;
    height: 91px;
    margin: 0;
  }

  .btn-main {
    width: 220px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
  }

  .nav__navlink-main {
    font-size: 1rem;
  }

  /* ///////////Body//////////////// */

  .hero__header {
    width: 90%;
    font-size: 60px;
  }

  .hero__text ul {
    width: 75%;
  }

  .hero__text ul li {
    font-size: 34px;
    list-style-type: disc;
  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ======================== */
@media screen and (max-width: 830px) {
  .hero__header {
    font-size: 50px;
  }

  .hero__text ul {
    width: 90%;
  }

  .hero__text ul li {
    font-size: 25px;
  }
}
